---
import { Icon } from '@astrojs/starlight/components';

const { dir, pagination } = Astro.locals.starlightRoute;
const { prev, next } = pagination;
const isRtl = dir === 'rtl';
---

{
  (prev || next) && (
    <div class="pagination-links" dir={dir}>
      {prev && (
        <a href={prev.href} rel="prev">
          <div>
            <Icon name={isRtl ? 'right-arrow' : 'left-arrow'} size="1.25rem" />
            {Astro.locals.t('page.previousLink')}
          </div>
          <p class="link-title">{prev.label}</p>
        </a>
      )}
      {next && (
        <a href={next.href} rel="next">
          <div>
            {Astro.locals.t('page.nextLink')}
            <Icon name={isRtl ? 'left-arrow' : 'right-arrow'} size="1.25rem" />
          </div>
          <p class="link-title">{next.label}</p>
        </a>
      )}
    </div>
  )
}

<style>
  .pagination-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;

    border-top: 1px solid var(--sl-color-gray-6);
    padding-top: 1rem;

    a {
      text-decoration: none;

      border: solid 1px var(--sl-color-gray-5);

      padding: 0.5rem;
      border-radius: 0.5rem;

      div {
        align-items: center;
        color: var(--sl-color-gray-3);
        display: flex;
        font-size: var(--sl-text-sm);
        gap: 0.15rem;
      }

      p {
        color: var(--sl-color-gray-2);
        font-weight: 600;
        margin-inline: 0.25rem;
      }

      &:is(:hover, :focus-visible) {
        border-color: var(--custom-outline-color);

        div {
          color: var(--custom-outline-color);
        }

        p {
          color: var(--sl-color-white);
        }
      }
    }
  }

  [rel='prev'] {
    margin-right: auto;
  }

  [rel='next'] {
    margin-left: auto;
    text-align: end;

    div {
      justify-content: flex-end;
    }
  }
</style>
